.item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin:2rem  0;
  padding:3rem;
  height: 50vh; 
  border-radius: 10px;
}

.row{
  display:flex;
  flex-direction: row;
}

.row a{
  color: #3B66B1; 
}


@media screen and (min-width: 480px) {
.item{
  margin:2rem 20% 2rem 20%;
}



}

@media screen and (min-width: 1025px) {


}
